<% include ../partials/header %>
<section>

<h1>My Assets</h1>

        <div class="main container">
            <div class="intro">
                <h2 class="text-center">My Portfolio</h2>
            </div>
            <div class="row row-sm-12 container" >
                <% assets.forEach(function(asset){ %>  
                <div class="col-sm-6 col-md-4 item" >
                    <a style="text-decoration: none; color: #333" href="/assets/<%=asset._id%>">
                        <img class="img-fluid" src="<%= asset.gallery.mainUrl %>" />
                        <h3 class="name"><%= asset.title%></h3>
                        <p class="description"><%= asset.description%></p>
                        
                    </a>  
                    <table  style="text-align:left; padding: 0;" class="table table-striped">
                            <tbody>

                                
                    <% currentUser.wallets.forEach(function(wallet){%>
                        <%if(wallet.token==asset.token){%>
                            <tr>
                                <th scope="row">Your Stake:
                                    
                                </th>
                                <td><%=parseFloat(Math.round((wallet.balance/asset.tokenCap) * 100)).toFixed(2)%>% [
                                    <%=wallet.balance%>
                                        <%=wallet.token%> tokens] of this asset. </td>
                            </tr>
                            <tr>
                                <th scope="row">Current ROI:</th>
                                <td>
                                    $<%=parseFloat(Math.round((asset.tokenRoiAmount/asset.tokenCap) * wallet.balance)).toFixed(2)%> <%=asset.tokenRoiInterval%>
                                    from <%=asset.tokenRoiDescription%>
                                </td>
                                </tr>
                            <tr>
                                <th scope="row">Asset availability:</th>
                                <td>
                                    <%=parseFloat(Math.round((asset.tokenAvail/asset.tokenCap) * 100)).toFixed(2)%> % of tokens still Available
                                </td>
                            </tr>
                       
                        <%}%>
                        

                        <%})%> 
                        </tbody>
                    </table>
                </div>
                <% }); %>
            </div>
        </div>
  
    
    </section>
<% include ../partials/footer %>