<% include ../partials/header %>
<section>
<div class="main" >
    <h1 style="margin:25px;">Buy an Asset Token from <%=asset.name%></h1>
    <div class="row">
        
        <div class="col-12 col-md-6" style="margin:auto; text-align: left;">
            <form action="/transactions/<%=asset._id%>" method="post">
                <div class="form-group">
                    <label for="token">Asset Token</label>
                    <input id="token" class="form-control" type="text" readonly name="token" value="<%=asset.token%>">
                </div>
                <div class="form-group">
                    <label for="tokenAvail">Available Tokens</label>
                    <input id="tokenAvail" class="form-control" type="text" name="tokenAvail" readonly value="<%=asset.tokenAvail%>">
                </div>
                
                <div class="form-group">
                    <label for="currencyToken">Purchase currency</label>
                    <input id="currencyToken" class="form-control" type="text" name="currencyToken" readonly value="NLT" >
                </div>
                <div class="form-group">
                    <label for="tokenPrice">Exchange Rate: <b><%=asset.token%>/NLT</b></label>
                    <input id="tokenPrice" class="form-control" name="tokenPrice" type="text" readonly value="<%=asset.tokenPrice%>" >
                </div>
                <div class="form-group">
                    <label for="currencyAmount">Amount in NLT</label>
                    <input id="currencyAmount" class="form-control" type="text" name="currencyAmount" readonly >
                </div>
                <div class="form-group">
                    <label for="amount">Amount in <b><%=asset.token%></b></label>
                    <input class="form-control" id="amount" onkeyup="exchangeConversion(this.value)" type="text" name="amount" placeholder="amount">
                </div>
                <div class="form-group">
                    <button class="form-control btn-dark" type="submit">Submit</button>
                    <a style="margin-top:5px;" class="form-control btn btn-light" href="/assets/<%=asset._id%>">Back</a>
                </div>

            </form>
        </div>
        <div style="padding:0;" class="col-12 col-md-3">
            <h5 style="text-align:center;">Your Wallets</h5>
            <% currentUser.wallets.forEach(function(wallet){ %>
                <table style="text-align:left;" class="table table-striped">
                    <tbody>
                        <tr>
                            <th scope="row">Token</th>
                            <td><%=wallet.token%></td>
                        </tr>
                        <tr>
                            <th scope="row">Balance</th>
                            <td><%=wallet.balance%></td>
                        </tr>
                        <%if(wallet.token=="NLT"){%>
                            <tr>
                                <th scope="row">You can buy up to</th>
                                <td><%=wallet.balance * asset.tokenPrice%> <b><%=asset.token%></b></td>
                            </tr>
                            <%} %>
                    </tbody>
                </table>
            <%});%>
        </div>
    </div>
      
</div>
</section>
<% include ../partials/footer %>