<% include ../partials/header %>
<section>


<h1>This is the assets page.</h1>
    <div class="main container">
        <div class="intro">
            <h2 class="text-center">Assets</h2>
            <p class="text-center"></p>
        </div>
        <div class="row row-sm-12" >
            <% assets.forEach(function(asset){ %>  
            <div class="col-sm-6 col-md-4 item" >
                <a style="text-decoration: none; color: #333" href="/assets/<%=asset._id%>">
                    <img class="img-fluid" src="<%= asset.gallery.mainUrl %>" />
                    <h3 class="name"><%= asset.title%></h3>
                    <h5 class="description"><%= asset.description%></h5>
                    <%if(asset.owners.length>0){%>
                        <p style="text-align:left; font-size:10;"><%=asset.owners.length%> Buyers</p>
                    <%}%>
                </a>  
            </div>
            <% }); %>
        </div>
    </div>
</section>
<% include ../partials/footer %>