<% include ../partials/header %>

<section id="show-section">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-8">
                <div class="heading">
                    <h1><%= asset.name%></h1>
                </div>
            
                <div class="image" style="background-image:url('<%=asset.image%>'); height: 450px; background-position: center; background-size: fit; background-repeat: no-repeat;"></div>
            
                <div style="margin-top:50px;">
                    
                    <h3 style="margin-bottom: 20px;"><%= asset.description%></h3>
                    <p style="text-align: left;">Nam a ultrices mauris. Nam efficitur, lorem a vehicula interdum, ligula velit euismod lorem, vitae vehicula ligula tortor eu leo. Maecenas porttitor massa ut vestibulum euismod. Aliquam eget mi aliquam.</p>
                    <p style="text-align: left;">Lorem ipsum dapibus dolor non, malesuada mauris. Aliquam eleifend mauris non odio mattis auctor. Aenean sit amet elementum tellus, a facilisis ligula. Pellentesque ac vehicula mauris.</p>
                    <a style="justify-content:center;width:50%; margin-bottom: 25px; text-align: center;" href="/transactions/new/<%=asset._id%>" class="btn btn-lg btn-success">Purchase</a>
                </div>
            </div>
            <div style="text-align: left; margin-left: 130px; margin-top:60px;" class="col-12 col-md-3 tags">
                <h5 style="text-align:center;">Asset Metrics</h5>
                <table class="table table-striped">
                    <tbody>
                        <tr>
                        <th scope="row">Token:</th>
                        <td><%=asset.token%></td>
                        </tr>

                        <tr>
                        <th scope="row">Token Price:</th>
                        <td><%=asset.tokenPrice%></td>
                        </tr>

                        <tr>
                        <th scope="row">Available Tokens:</th>
                        <td><%=asset.tokenAvail%></td>
                        </tr>
                    </tbody>
                </table>
               
                
                <h5 style="text-align:center;">Associated Wallets</h5>
                <% asset.wallets.forEach(function(wallet){ %>
                    
                    <table class="table table-striped">
                        <tbody>
                            <tr>
                            <th scope="row">Token:</th>
                            <td><%=wallet.token%></td>
                            </tr>
                            <tr>
                            <th scope="row">Balance:</th>
                            <td><%=wallet.balance%></td>
                            </tr>
                            <tr>
                            <th scope="row">Public key:</th>
                            <td><%=wallet.publicKey%></td>
                            </tr>
                            <tr>
                            <th scope="row">Private key:</th>
                            <td><%=wallet.privateKey%></td>
                            </tr>
                        </tbody>
                    </table>
                <%});%>
               
            </div>  
        </div>
       

       
            
        </div>
       
    </div>
</section>

<% include ../partials/footer %>