<% include ../partials/header %>

<section id="show-section">
    <div class="main container">
        <div class="row">
            <div class="col-12 col-md-6">
                <div class="heading">
                    <h1><%= asset.title%></h1>
                </div>
            
                <div class="image" style="background-image:url('<%=asset.gallery.mainUrl%>'); height: 450px; background-position: center; background-size: fit; background-repeat: no-repeat;"></div>
            
                <div style="margin-top:50px;">
                    
                    <h3 style="margin-bottom: 20px; text-align: left;"><%= asset.description%></h3>
                    <p style="text-align: left;"><%=asset.detailedDescription%></p>
                  
                </div>
            </div>
            <div style="text-align: left; margin-left: 130px; margin-top:25px; border-style:solid; border-width:0.3px;" class="col-12 col-md-3">
                <h5 style="text-align:center;">Asset Metrics</h5>
                <table class="table table-striped">
                    <tbody>
                        <tr>
                        <th scope="row">Token:</th>
                        <td><%=asset.token%></td>
                        </tr>

                        <tr>
                        <th scope="row">Token Price [NLT]:</th>
                        <td><%=asset.tokenPrice%></td>
                        </tr>

                        <tr>
                        <th scope="row">ROI:</th>
                        <td><%=asset.tokenRoiDescription%></td>
                        </tr>

                        <tr>
                        <th scope="row">ROI Interval:</th>
                        <td><%=asset.tokenRoiInterval%></td>
                        </tr>

                        <tr>
                        <th scope="row">ROI Value:</th>
                        <td>$<%=asset.tokenRoiAmount%></td>
                        </tr>

                        <tr>
                        <th scope="row">Available Tokens:</th>
                        <td><%=asset.tokenAvail%></td>
                        </tr>
                        <tr>
                        <th scope="row">ROI per token:</th>
                        <td>$<%=parseFloat(Math.round(asset.tokenRoiAmount/asset.tokenCap)).toFixed(2)%> per token</td>
                        </tr>
                    </tbody>
                </table>
           
                <h5 style="text-align:center;">Asset Performance</h5>
                <% asset.wallets.forEach(function(wallet){ %>
                    
                    <table class="table table-striped">
                        <tbody>
                            <tr>
                            <th scope="row">Token:</th>
                            <td><%=wallet.token%></td>
                            </tr>
                            <tr>
                            <th scope="row">Balance:</th>
                            <td><%=wallet.balance%></td>
                            </tr>
                            <tr>
                            <th scope="row">Number of Buyers:</th>
                            <td><%=asset.owners.length%></td>
                            </tr>
                            <tr>
                            <!-- <th scope="row">Public key:</th>
                            <td><%=wallet.publicKey%></td>
                            </tr>
                            <tr>
                            <th scope="row">Private key:</th>
                            <td><%=wallet.privateKey%></td>
                            </tr> -->
                        </tbody>
                    </table>
                <%});%>
                <a style="justify-content:center;width:100%; margin-bottom: 25px; text-align: center;" href="/transactions/new/<%=asset._id%>" class="btn btn-lg btn-primary">Purchase</a>

                <a style="justify-content:center;width:100%; margin-bottom: 25px; text-align: center;" href="#" class="btn btn-lg btn-dark">Trade</a>
                <%if(currentUser){%>
                    <%if(currentUser._id=asset.creator.id){%>
                        <a style="justify-content:center;width:100%; margin-bottom: 25px; text-align: center;" href="/assets/<%=asset._id%>/edit" class="btn btn-lg btn-dark">Edit</a>
                    <%}%>
                <%}%>
            </div>  
        </div>    
        </div>
       
    </div>
</section>

<% include ../partials/footer %>